footer p {
  font-size: 1.2em
}
  
footer a {
  color: rgb(133, 86, 177);
  cursor: pointer;
}

@media (max-width: 768px) {
  footer p {
    font-size: 0.9em;
  }
  footer {
    position: relative;
    bottom: 3em
  }
}